.popup__input-error{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 5px;
    width: 358px;
    min-height: 25px;
    color: #FF0000;
}

@media screen and (max-width: 767px) {
    .popup__input-error{
        width: 238px;
    }
}